.h-full {
    height: 75vh;
}

.mt-10rem {
    margin-top: 6rem!important;
}

body {
    display: none;
}

body.fadeIn {
    display: block;
    animation: fadeIn 0.7s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}